################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerSample/bin/Debug/net6.0
/DockerSample/obj/Debug/net6.0
/DockerSample/obj
